<div class="simple-box-wrapper">

  <div class="simple-box__header-area">
    <h2>
      {{markupData.header}}
    </h2>

    <span class="simple-box__item-btn"
    (click)="isBodyExpanded = !isBodyExpanded"
            [style.transform]="isBodyExpanded ? 'rotate(180deg)': 'rotate(0deg)'">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6L8 10L12 6" stroke="#55c595" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </span>
  </div>

  <div [innerHTML]="markupData.body" *ngIf="isBodyExpanded" class="simple-box__content-area">

  </div>
</div>
