.table {

  &-wrapper {
    padding: 0 32px;
    background: #fff;
    border-radius: 8px;
  }


  &-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__left {
    padding: 16px 5px;
      font-size: 14px;
      line-height: 1.62;
      font-weight: 700;
      width: 40%;
      text-align: left;
    }

    &__right {
    padding: 16px 5px;
      font-size: 14px;
      line-height: 1.62;
      width: 60%;
      text-align: right;
      font-weight: 500;
    }
  }
}
