h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.pros-and-cons {
  &-wrapper {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 12px;
    border: 1px solid rgba(9, 31, 48, .08);
  }
}

.header-area {
  display: flex;

  h3 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    align-items: center;
    color: #091f30;
    display: flex;
  }

  &__icon-wrapper {


    &-thumb_up {

      background: rgba(124, 228, 149, 0.12);
      color: #55c595;

      align-items: center;
      border-radius: 50%;
      display: flex;
      font-size: 14px;
      height: 32px;
      justify-content: center;
      margin-right: 12px;
      width: 32px;

      mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }

    &-thumb_down {
      background: rgba(255, 100, 51, 0.12);
      color: #ff6433;

      align-items: center;
      border-radius: 50%;
      display: flex;
      font-size: 14px;
      height: 32px;
      justify-content: center;
      margin-right: 12px;
      width: 32px;

      mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.pros-content {
  margin-bottom: 20px;

  &__pros-area {

    margin-bottom: 8px;
    color: #215273;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;

    span {
      display: flex;
      align-items: center;

      mat-icon {
        align-items: center;
        color: #55c595;
        display: flex;
        flex-shrink: 0;
        font-size: 20px;
        height: 20px;
        justify-content: center;
        margin-right: 16px;
        width: 24px;
      }
    }
  }
}

.cons-content {
  &__cons-area {

    margin-bottom: 8px;
    color: #215273;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;

    span {
      display: flex;
      align-items: center;

      mat-icon {
        align-items: center;
        color: #ff6433;
        display: flex;
        flex-shrink: 0;
        font-size: 20px;
        height: 20px;
        justify-content: center;
        margin-right: 16px;
        width: 24px;
      }
    }
  }
}
