<div class="rating-aside__wrapper">
  <div class="rating-aside__exchange-wrapper">

    <div class="rating-aside__exchange-left">
      <h3 class="rating-aside__exchange-title">
        binance
      </h3>
      <div class="rating-aside__exchange-stars">
        123
      </div>
    </div>

    <div class="rating-aside__exchange-right">
      <img src="https://content-cdn.meta.ua/brand-rating/brand/e494d1846cf34fb2474fd4d65991cb51713599e9e3428cf1960408ddc611a76b.jpg">
      <button>registr</button>
    </div>
  </div>

    <div class="rating-aside__exchange-wrapper">

    <div class="rating-aside__exchange-left">
      <h3 class="rating-aside__exchange-title">
        binance
      </h3>
      <div class="rating-aside__exchange-stars">
        123
      </div>
    </div>

    <div class="rating-aside__exchange-right">
      <img src="favicon.ico">
      <button>registr</button>
    </div>
  </div>

    <div class="rating-aside__exchange-wrapper">

    <div class="rating-aside__exchange-left">
      <h3 class="rating-aside__exchange-title">
        binance
      </h3>
      <div class="rating-aside__exchange-stars">
        123
      </div>
    </div>

    <div class="rating-aside__exchange-right">
      <img src="favicon.ico">
      <button>registr</button>
    </div>
  </div>
</div>
